In [1]:
import pandas as pd

In [2]:
# 从数据集中提取需要的数据并赋予研究用的变量名
data = pd.read_csv('communities_with_distance_river_area.csv')
data.columns

Index(['小区名字', '小区地址', '均价', '容积率', '有无停车位', '物业费_元/平方米/月', '绿化率_percent',
       'latitude', 'longitude', 'BUS', 'HOS', 'MAR', 'SUB', 'PSC', 'MSC',
       'PAR', 'CBD', 'SCBD', 'RIV', 'ARE'],
      dtype='object')

In [3]:
data = data[['均价', '容积率', '物业费_元/平方米/月', '绿化率_percent',
       'BUS', 'HOS', 'MAR', 'SUB', 'PSC', 'MSC',
       'PAR', 'CBD', 'SCBD', 'RIV', 'ARE','latitude', 'longitude']]
data.columns = ['PRI', 'FAR', 'PRO', 'GRE',
       'BUS', 'HOS', 'MAR', 'SUB', 'PSC', 'MSC',
       'PAR', 'CBD', 'SCBD', 'RIV', 'ARE','latitude', 'longitude']
data.head()

,PRI,FAR,PRO,GRE,BUS,HOS,MAR,SUB,PSC,MSC,PAR,CBD,SCBD,RIV,ARE,latitude,longitude
0,54560,2.88,1.20,30.0,256.509826,1535.484711,175.643977,1196.714612,417.639070,856.055562,161.120353,9319.496930,7467.040911,2068.596693,333600,23.124325,113.415697
1,70093,3.80,3.50,62.0,256.509826,1535.484711,175.643977,1196.714612,417.639070,856.055562,161.120353,9319.496930,7467.040911,2068.596693,333600,23.124325,113.415697
2,45544,1.74,2.37,40.0,152.513554,2100.395942,451.259944,1207.328398,388.567987,383.483784,703.540475,9796.623781,8166.680740,3059.158674,69400,23.132456,113.419568
3,58641,2.66,1.90,45.2,23.832257,5297.997351,346.016106,713.996616,423.282983,382.525096,362.763426,9674.438398,9123.633151,9463.923434,356900,23.196825,113.369955
4,84828,3.99,2.30,42.0,219.307358,265.723923,300.167413,1482.307992,433.038452,1132.855629,1241.665762,4742.191821,4540.610699,3082.062562,210700,23.139163,113.366326

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2282 entries, 0 to 2281
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   PRI        2282 non-null   int64
 1   FAR        2282 non-null   float64
 2   PRO        2282 non-null   float64
 3   GRE        2282 non-null   float64
 4   BUS        2282 non-null   float64
 5   HOS        2282 non-null   float64
 6   MAR        2282 non-null   float64
 7   SUB        2282 non-null   float64
 8   PSC        2282 non-null   float64
 9   MSC        2282 non-null   float64
 10  PAR        2282 non-null   float64
 11  CBD        2282 non-null   float64
 12  SCBD       2282 non-null   float64
 13  RIV        2282 non-null   float64
 14  ARE        2282 non-null   int64
 15  latitude   2282 non-null   float64
 16  longitude  2282 non-null   float64
dtypes: float64(15), int64(2)
memory usage: 303.2 KB

In [5]:
data.to_csv('data.csv', index=False)